@import "variables";

.figure {
  display: inline-block;
  position: relative;
  font-size: 6rem;
  color: $Accent;
  background-color: $Cloudy;

  & + .figure {
    margin-left: 8px;
  }
  &:nth-last-child(3n + 1):not(:last-child) {
    margin-right: .2em;
    &:after {
      position: absolute;
      content: ',';
      font-size: inherit;
      color: inherit;
      left: 100%;
      top: 0;
      margin-left: 4px;
      margin-top: -0.2em;
    }
  }
  &-window {
    position: relative;
    font-size: inherit;
    width: .6em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;

    figure {
      margin: 0;
      color: inherit;
      position: absolute;
      opacity: 0;
      display: block;
      width: 100%;

      &.current {
        opacity: 1;
      }

      mark {
        background-color: transparent;
        color: inherit;
        text-align: center;
        display: block;
        padding: 0;
        box-sizing: border-box;
      }
    }
  }
}
