@import "mixins";
@import "variables";

.flex-col {
  @extend %flexbox;
  @include justify-content(flex-start);
  @include align-items(stretch);
  @include flex-direction(column);

  > *:only-child {
    @include flex-grow(1);
    @include flex-shrink(1);
  }

  &:not(:only-child) {
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
