@import "variables";
@import "mixins";

.personInfo {
  $clr-hi: transparentize(black, .95);
  $clr-lo: transparent;
  transition: background-color .75s;
  height: 100%;

  &.gender {
    &-m {
      background: repeating-linear-gradient( 45deg, $clr-hi, $clr-hi 10px, $clr-lo 10px, $clr-lo 20px );
      background-color: transparentize(blue, .8);
    }
    &-f {
      background: repeating-linear-gradient( -45deg, $clr-hi, $clr-hi 10px, $clr-lo 10px, $clr-lo 20px );
      background-color: transparentize(purple, .8);
    }
  }

  &-row {
    .aspect {
      display: inline-block;
      width: 20%;
      font-weight: $font-weight-bold;
    }
  }
}
