@import 'variables';
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,600,600italic,700,700italic);

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  * {
    position: relative;
  }
}

body {
  background-color: $Cloudy;
  font-size: $font-size-medium;
  font-family: 'Roboto', sans-serif;
  color: $Black;
}

#app {
  @media (min-width: 768px) {
    margin-top: 16px;
  }
}

a, a:hover, a:visited, a:active {
  color: $Accent;
  font-weight: $font-weight-light;
}

main div[class ^= "col"] {
  transition: width .25s ease, height .25s ease;
}
.panel {
  border-radius: 0;
  padding: 1rem;
  height: 100%;
  margin-bottom: 16px;
  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

@page {
  size: 297mm 210mm;
  margin: 0;
}
@media print {
  html, body {
    width: 297mm;
  }
  nav + .wrapper {
    margin-top: 0;
  }
  footer {
    a[href]:after {
      content: '';
    }
  }
  .dataTree,
  footer,
  .not-for-print {
    display: none !important;
  }
  .panel,
  .page-break {
    page-break-before: always;
    page-break-inside: avoid;
  }
}
