@import 'variables';

body {
  background-color: $Cloudy;
  font-size: $font-size-medium;
  color: $Black;
}

#app {
  @media (min-width: 768px) {
    margin-top: 16px;
  }
}

.panel {
  border-radius: 0;
  padding: 1rem;
  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

.item {
  &-title {
    a, a:hover, a:visited, a:active {
      color: $Accent;
      font-weight: $font-weight-light;
    }
  }
  &-score {
    text-align: center;
  }
  &-date {
    text-align: right;
  }
}
