#root {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef2f5;
  background: currentColor;
  text-shadow: 4px 4px 0px black;
  font-size: 48px;
}
 #root {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 96px 1fr;
  grid-template-areas:
    "....... header  header ......."
    "sidebar content content footer";
  .one {
    grid-area: header;
  }
  .two {
    grid-area: footer;
  }

 }
