@import "../styles/variables";

@supports not (display: grid) {
  #root {
    > header { flex: 0 0 48px; }
    > footer { flex: 0 0 32px; }

    > main {
      flex: 1 1 100%;
      max-width: 1000px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;

      > * {
        width: calc((100% / #{12}) - 8px);
        margin: 0 4px 4px 4px;
      }

      > * {
        background: rgba(#336699, .4);
      }
    }
  }
}

@supports (display: grid) {
  #root {
    > header { grid-row: row 1; }
    > footer { grid-row: row 3; }

    > main {
      grid-row: row 2;
      max-width: 1000px;
      @include grid(12);

      > * {
        background: rgba(#336699, .4);
      }
    }
  }
}
