@import "../styles/variables";

#root header h1 {
  margin: 0;
  line-height: 48px;
  font-size: 48px;
}

@supports not (display: grid) {
  #root {
    > header { flex: 0 0 auto; }
    > footer { flex: 0 0 auto; }

    > main {
      flex: 1 1 100%;
      max-width: 1000px;
    }

    > header,
    > footer,
    > main {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: flex-start;

      > * {
        width: calc((100% / #{12}) - 8px);
        margin: 0 4px 4px 4px;
      }
    }
  }
}

@supports (display: grid) {
  #root {
    > header { grid-row: row 1; }
    > footer { grid-row: row 3; }
    > main {
      grid-row: row 2;
      max-width: 1000px;
    }

    > header,
    > footer,
    > main {
      @include grid(12);
    }
  }
}
