/*
   1 [class='']
   2 .sixth
   3 .quarter
   4 .third
   5 .quarter.sixth
   6 .half
   7 .quarter.third
   8 .half.sixth
   9 .half.quarter
  10 .half.third
  11 .half.quarter.sixth
  12 .full
 */
#root {
  padding: 4px;
  @include grid(1);
  grid-template-rows: [row] 48px [row] auto [row] 32px;
  > * {
    grid-column: col 1;
  }

  .sixth {
    grid-column: auto / span 2;
  }
  .quarter {
    grid-column: auto / span 3;

    &.sixth {
      grid-column: auto / span 5;
    }
    &.third {
      grid-column: auto / span 7;
    }
  }
  .third {
    grid-column: auto / span 4;
  }
  .half {
    grid-column: auto / span 6;
    &.sixth {
      grid-column: auto / span 8;
    }
    &.quarter {
      grid-column: auto / span 9;
      &.sixth {
        grid-column: auto / span 11;
      }
    }
    &.third {
      grid-column: auto / span 10;
    }
  }
  .full {
    grid-column: auto / span 12;
  }
}
