@import "./styles/variables";

* {
  transition: background-color .4s linear;
}

:root {
  /* colors */
  --clr-background:  $background;
  --clr-color:       $color;
  --clr-highlight:   $highlight;
  --clr-accent:      $accent;
  --clr-important:   $important;
  --clr-black:       $black;
  --clr-white:       $white;
  --clr-shadow:      rgba($black, .2);

  /* fonts */
  font-size: 16px;
  --font-serif: "Merriweather";
  --font-sans: "Raleway";
  --font-family: $font-family;
  --font-size-fine: .50em;
  --font-size-small: .75em;
  --font-size-medium: 1em;
  --font-size-large: 1.5em;
  --font-size-huge: 2em;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  &.dark {
    --clr-background: #261c15;
    --clr-color: #f7f7f2;
    --clr-highlight: #b80c09;
    --clr-accent: #586f1c;
    --clr-important: #d5a021;
    --clr-black: $white;
    --clr-white: $black;
    --clr-shadow: rgba($white, .2);
    --font-family: var(--font-serif);
  }

  &.stormy {
    --clr-background: #eff1f3;
    --clr-color: #1f333d;
    --clr-highlight: #623b5a;
    --clr-accent: #93897b;
    --clr-important:  #262b24;
  }

  &.flat {
    --clr-background: #e6e9ed;
    --clr-color: #132435;
    --clr-highlight: #d64d3b;
    --clr-accent: #ed782a;
    --clr-important: #ef8726;
  }

  &.solaris {
    --clr-background: #e1edef;
    --clr-color: #edc038;
    --clr-highlight: #ea8f2e;
    --clr-accent: #e24a3f;
    --clr-important: #151719;
  }

  &.blues {
    --clr-background: #e4dfda;
    --clr-color: #011638;
    --clr-highlight: #12355b;
    --clr-accent: #364156;
    --clr-important: #3a606e;
  }

  &.dark-2 {
    --clr-background: #2b2d42;
    --clr-color: #edf2f4;
    --clr-highlight: #8d99ae;
    --clr-accent: #ef233c;
    --clr-important: #d90429;
    --clr-black: $white;
    --clr-white: $black;
    --clr-shadow: rgba($white, .2);
  }

  background-color: var(--clr-background, $background);
  color: var(--clr-color, $color);
}

a {
  &:hover, &:focus, &:active {
    &:not([href]) {
      color: purple;
    }
  }
  &:hover {
    text-decoration: underline;
  }
  &:not(:hover), &:visited, &:focus, &:active {
    text-decoration: none;
  }
  &, &:focus {
    color: var(--clr-highlight, $highlight);
  }
  &:hover, &:visited, &:active {
    color: var(--clr-accent, $accent);
  }
}

#root > footer {
  background-color: var(--clr-black, $black);
  color: var(--clr-white, $white);
}

.panel {
  background-color: var(--clr-white, $white);
  border: 1px solid  var(--clr-shadow);
  border-radius: 6px;
  box-shadow: 0 1px 2px var(--clr-shadow);
  padding: 3px;
}
