@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.heading .contact ul li {
  text-align: right;
}

.heading .contact ul, .content .experiences .experience .accomplishments ul {
  margin: 0 auto;
  padding: 0;
}

.heading .contact ul li, .content .experiences .experience .accomplishments ul li {
  list-style: none;
}

.heading .contact ul li + li, .content .experiences .experience .accomplishments ul li + li {
  margin-top: 8px;
}

.heading .bio, .content .experiences .experience, .content .educations .education {
  padding-left: 40px;
  position: relative;
}

.heading .bio:before, .content .experiences .experience:before, .content .educations .education:before {
  content: '';
  position: absolute;
  top: 4;
  left: 0;
  width: 32px;
  height: 24px;
  background-color: #39c;
}

.content .experiences .experience .company, .content .educations .education .school {
  font-weight: 300;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

article > header {
  font-weight: 300;
  font-size: 24px;
  padding: .25em 0;
}

main.page, main.page * {
  position: relative;
}

main.page row {
  display: table;
  width: 100%;
}

main.page row column {
  display: table-cell;
  vertical-align: top;
}

main.page .heading column {
  width: 45%;
}

main.page .heading column.avatar {
  width: 10%;
}

main.page .content column {
  width: 50%;
}

@media screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: auto;
  }
}

.heading .biography,
.heading .contacts {
  -webkit-box-flex: 0.5;
  -webkit-flex-grow: 0.5;
  -moz-flex-grow: 0.5;
  -ms-flex-positive: 0.5;
  flex-grow: 0.5;
  -webkit-flex-shrink: 0.5;
  -moz-flex-shrink: 0.5;
  -ms-flex-negative: 0.5;
  flex-shrink: 0.5;
}

.heading .bio .title {
  font-size: 24px;
  margin-bottom: 8px;
}

.heading .bio .statement {
  line-height: 16px;
  font-size: 14px;
  color: #666666;
}

.heading .contact {
  color: #39c;
}

.heading .contact ul {
  min-width: 64px;
  padding-right: 16px;
  font-size: 16px;
}

.heading .contact a, .heading .contact a:visited, .heading .contact a:active {
  text-decoration: underline;
  color: #39c;
}

.heading .contact a:before {
  content: attr(title) " ";
}

.heading .face {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.heading .face g {
  fill: #39c;
}

.heading column.avatar.avatar {
  vertical-align: middle;
}

.content > column {
  padding: 0 4px;
}

.content > column:first-child {
  padding-left: 0;
}

.content > column:last-child {
  padding-right: 0;
}

.content .experiences .experience + .experience {
  margin-top: 4px;
}

.content .experiences .experience .location {
  position: absolute;
  top: 0;
  right: 0;
}

.content .experiences .experience .title {
  font-weight: 700;
}

.content .experiences .experience .accomplishments .accomplishment {
  font-size: 14px;
  margin: 0;
}

.content .timespan {
  color: #39c;
}

.content .educations .education .degree {
  font-weight: 600;
}

.content .bar {
  position: relative;
  height: 1em;
  width: 100%;
  display: table;
}

.content .bar:not(.scale) {
  border: 1px solid #39c;
}

.content .bar-value, .content .bar-ticks {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  background-color: rgba(51, 153, 204, 0.4);
}

.content .bar-ticks {
  background-color: transparent;
  border-right: 1px solid #39c;
}

.content .skills .skill column {
  vertical-align: middle;
  padding: 0 1em;
}

.content .interests {
  position: relative;
}

.content .interests .interest {
  display: inline-block;
  padding: 0 1em;
  margin-bottom: .5em;
  text-transform: capitalize;
}

.content .interests .interest:nth-last-child(n):not(:last-child):not(:empty) {
  border-right: 1px solid #39c;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    overflow: hidden;
  }
}

@page {
  size: A4;
  margin: 0;
}

html, body {
  width: 210mm;
  height: 297mm;
  overflow: hidden;
}

/*# sourceMappingURL=print.css.map */