$tGray: rgba(0, 0, 0, .1);

.github-profile {
  display: inline-flex;
  align-items: center;

  .img {
    flex: 0 0 auto;
  }
  .text {
    flex: 1 1 auto;
    margin-left: 8px;
  }

  &:empty {
    height: 48px;
    width: 192px;
    background-image: radial-gradient(circle 24px, $tGray 99%, transparent 0), linear-gradient($tGray 16px, transparent 0), linear-gradient($tGray 16px, transparent 0);
    background-size: 48px 48px, 136px 16px, 136px 16px;
    background-position: 0px 0px, 56px 4px, 56px 28px;
    background-repeat: no-repeat;
  }
}
