.bar {
  position: relative;
  height: 1em;
  width: 100%;
  display: table;
  &:not(.scale) {
    border: 1px solid $color-accent;
  }

  &-value,
  &-ticks {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    background-color: transparentize($color-accent, .6);
  }

  &-ticks {
    background-color: transparent;
    border-right: 1px solid $color-accent;
  }
}
