.interests {
  position: relative;

  .interest {
    display: inline-block;
    padding: 0 1em;
    margin-bottom: .5em;
    text-transform: capitalize;
    &:nth-last-child(n):not(:last-child):not(:empty) {
      border-right: 1px solid $color-accent;
    }
  }
}
