@import "variables";
@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $color-text;
  background-color: $color-bg;
  font-size: $normal-font-size;
  font-weight: $normal-font-weight;
  font-family: 'Source Sans Pro', sans-serif;
}


article > header {
  font-weight: $light-font-weight;
  font-size: $large-font-size;
  padding: .25em 0;
}

@import "layout";
@import "heading";
@import "content";

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    overflow: hidden;
  }
}
